<% include header %> 
<!-- Header -->
	<section id="showcase-common">
      <div class="container">
        <h1>About Me</h1> 
      </div>
    </section> 
    <section id="main">
      <div class="container min-height">
        <article id="main-col">  <br />
          <p>
            I am Amandeep Singh Saggu a web designing and development student in Georgian College.
            <br /><br />
            I believe in doing smart work, I am a Sincere person i have always seen big dreams and always want to fulfuil them, from my childhood i have interest in playing games like soccer, badminton i always wanted to be soccer player in my like this is the reason i got less marks then all others in my high school, I want to go to gym 
	    regularly and make a good body with 6 pack abs, I don't have my own interest in programming neither i like web designing i did that with lots of struggle and still strugling in this, this is good field but is for me i am not the player of this game. I still wanna work hard in programming so i can get my deploma done and be able graduate, I realised that working hard is very important in like one day every one will left you and you have to grow up by your own no one will care for you
            but i am working hard and doing good deeds i will earn everything friends, family, love, success will be all arround. But if i don't work hard i will become very alone with no friends, no love i will be frustated and will be unhappy i will talk to myself no one will speak to me everyone will keep a distance from me and will try to miss use me. So from today i should start working hard and forget what happened in the past and never repeat mistakes again. I wanna go to gym regularly and make muscles and i wanna run on treadmill every silgle day will good speed and keep my self away from bad thoughts. All i want to do is to go to gym and do running and lift wait i will work very very hard to do this successfully. I will take this like a chalenge to me cause every moment i am spending will not come again. I have to keep in mind that i can do that I can get good body with 6 pack abs i have to work relly hard for that. This is my only dream to live in Canada with good body and stamina i will make by  
           running a lot. 
          </p> 
        </article>

        <aside id="sidebar">
          <div class="dark">
            <h3> My exprience</h3>
            <p> I have a two year experience in web designing and development and i am still doing that and ganing more experience. </p>
          </div>
        </aside>
      </div>
    </section>
<!-- footer  --> 
<%  include footer %> 