<% include header %> 
<!-- Header -->
  <section id="showcase-common">
      <div class="container">
        <h1>My Projects</h1> 
      </div>
    </section> 

    <section id="main">
      <div class="container">  
         <br />  
         <div class="row"> 
           <div class="col-md-6">   
              <div class="container2"> 
                <div class="content"> 
                  <div class="content-overlay"></div>
                  <img class="content-image" src="public/img/project1.png">
                  <div class="content-details fadeIn-bottom">
                  <h3 class="content-title">Project Title</h3>
                  <p class="content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div> 
                </div>
              </div> 
            </div> 

            <div class="col-md-6">   
              <div class="container2"> 
                <div class="content"> 
                  <div class="content-overlay"></div>
                  <img class="content-image" src="public/img/project2.png">
                  <div class="content-details fadeIn-bottom">
                  <h3 class="content-title">Project Title</h3>
                  <p class="content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div> 
                </div>
              </div> 
            </div> 

            <div class="col-md-6">   
              <div class="container2"> 
                <div class="content"> 
                  <div class="content-overlay"></div>
                  <img class="content-image" src="public/img/project3.png">
                  <div class="content-details fadeIn-bottom">
                  <h3 class="content-title">Project Title</h3>
                  <p class="content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div> 
                </div>
              </div> 
            </div> 

            <div class="col-md-6">   
              <div class="container2"> 
                <div class="content"> 
                  <div class="content-overlay"></div>
                  <img class="content-image" src="public/img/project4.png">
                  <div class="content-details fadeIn-bottom">
                  <h3 class="content-title">Project Title</h3>
                  <p class="content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div> 
                </div>
              </div> 
            </div>   
         </div> 
      </div> <br /><br />
    </section>
<!-- footer  --> 
<%  include footer %> 