<% include header %> 
<!-- Header -->
 
<section id="showcase-common">
      <div class="container">
        <h1>Our Services</h1> 
      </div>
    </section> 

    <section id="main">
      <div class="container">
        <!-- <article id="main-col"> --> 
          <br />
          <ul id="services">
            <li>
              <h3>Website Design</h3>
              <p>Business without online identity is not possible these days, now we need an email to send receive important communications to vendors, staff and customers to keep them updated. unlike old days we send them postal through hard printed letters</p>
						  <p>Pricing: $1,000 - $3,000</p>
            </li>
            <li>
              <h3>Website Development</h3>
              <p>Web Developers Jalandhar bestwebdesigning.co.in provides web development with different technologies like wordpress, joomla, drupal for content management websites.</p>
						  <p>Pricing: $250 per month</p>
            </li>
            <li>
              <h3>Search Engine Optimization</h3>
              <p>SEO stands for search engine optimization which means a website which is search engine friendly like as we know many people open website through search engine whenever a person want to search in google.</p>
						  <p>Pricing: $25 per month</p>
            </li>
          </ul> 
      </div>
    </section> <br /><br />

<!-- footer  --> 
<%  include footer %> 