@import url(https://fonts.googleapis.com/css?family=Raleway);
body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}


.button_1{
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
} 
 
header{
  background: #108bb1;
  color: #ffffff;
  padding-top: 5px; 
  border-bottom: #ffffff 2px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  font-family: sans-serif;
  font-size:14px;

}

header a:hover {
  color: #ffffff;
  text-decoration: none;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px; 
} 

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
  font-weight:bolder;
  font-size: 30px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#500808;
  font-weight:bold;
}

 

/* Showcase */
#showcase{
  min-height:400px;
  background:url('../img/bg3.jpg') no-repeat 0 -200px;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:90px;
  font-size:55px;
  margin-bottom:5px;
  text-shadow: 0px 2px 3px #000;
  text-transform: uppercase;
}

#showcase-common{
  min-height:200px;
  background:url('../img/bg.jpg') no-repeat 0 -200px;
  text-align:center;
  color:#ffffff;
}

#showcase-common h1{
  margin-top:60px;
  font-size:55px;
  margin-bottom:5px;
  text-shadow: 0px 2px 3px #000;
  text-transform: uppercase;
}

#showcase h2{ 
  font-size:30px;
  margin-bottom:10px;
  text-shadow: 0px 1px 1px #000;
  text-transform: uppercase;
  background-color: #666;
  width: 500px;
  margin: 0px auto;
}


#showcase p{
  font-size:20px;
} 

 
 
#boxes{
  margin-top:20px; 
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

 
article#main-col{
  float:left;
  width:65%;
}

 
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

footer{
  padding:10px; 
  color:#ffffff;
  background-color:#212020;
  text-align: center;  
  height: 50px;
  font-size: 12px;
  font-family: sans-serif;
}

 
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  } 
   
}

.min-height {
  min-height: 500px !important;
}

.wrapper {
  position: relative; 
} 
 
.main-title{
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

.container2{
  padding: 1em 0;
  float: left;
  width: 100%;
}
@media screen and (max-width: 640px){
  .container2{
    display: block;
    width: 100%;
  }
} 

.container2 .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative; 
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}